.title{
    display: none;
}

body{
    font-size: 13pt;
    }
    
<style>
  .title{
    display: none;
  }
</style>

.FixedHeightContainer
{
  float:right;
  height: 250px;
  width:250px; 
  padding:3px; 
}
.Content
{
  height:420px;
   overflow:auto;
}